<template name="menu">
  <div class="menu-wrapper col-1-3 invisible" >
      <div class="nav-section first-nav" id="explore-destinations">
        <img class="nav-icon" src="/white-binocs.png" />
        <div>Explore</div>
      </div>
      <div class="nav-section" id="filter-destinations">
        <img class="nav-icon" src="/globe.png" />
        <div>Filter</div>
      </div>
      <div class="nav-section" id="my-wishlists">
        <img class="nav-icon" src="/white-heart.png" />
        <div>Wishlist</div>
      </div>
  </div>
</template>