<template name="filtersPage">
  <div class="filters-page clearfix">
    <div class="destination-main-name">Filters</div>
    <div class="col-1-2" id="first-icon-col">
      <div id="north-america">
        <img class="filter-icon" src="/filter_icons/north_america.png" />
        <div>North America</div>
      </div>
      <div id="south-america">
        <img class="filter-icon" src="/filter_icons/south_america.png" />
        <div>South America</div>
      </div>
      <div id="australia">
        <img class="filter-icon" src="/filter_icons/australia.png" />
        <div>Australia</div>
      </div>
    </div>
    <div class="col-1-2">
      <div id="europe">
        <img class="filter-icon" src="/filter_icons/europe.png" />
        <div>Europe</div>
      </div>
      <div id="africa">
        <img class="filter-icon" src="/filter_icons/africa.png" />
        <div>Africa</div>
      </div>
      <div id="asia">
        <img class="filter-icon" src="/filter_icons/asia.png" />
        <div>Asia</div>
      </div>
    </div>
  </div>
</template>