<template name="filtersPage">
  <div class="filters-page clearfix">
    <div class="destination-main-name">Filters</div>

    <div class="col-1-2" id="first-icon-col">
      <div id="north-america" class="icon-bubble">
        <img class="filter-icon" src="/filter_icons/north_america.png" />
        <div class="filter-label">North America</div>
      </div>
      <div id="south-america" class="icon-bubble">
        <img class="filter-icon" src="/filter_icons/south_america.png" />
        <div class="filter-label">South America</div>
      </div>
      <div id="australia" class="icon-bubble">
        <img class="filter-icon" src="/filter_icons/australia.png" />
        <div class="filter-label">Australia</div>
      </div>
    </div>

    <div class="col-1-2">
      <div id="europe" class="icon-bubble">
        <img class="filter-icon" src="/filter_icons/europe.png" />
        <div class="filter-label">Europe</div>
      </div>
      <div id="africa" class="icon-bubble">
        <img class="filter-icon" src="/filter_icons/africa.png" />
        <div class="filter-label">Africa</div>
      </div>
      <div id="asia" class="icon-bubble">
        <img class="filter-icon" src="/filter_icons/asia.png" />
        <div class="filter-label">Asia</div>
      </div>
    </div>
    
  </div>
</template>