/* Styles related to the activity card pages and templates */

.activity-card {
  padding: 20px 20px 20px 20px;
  border-top: 1px solid white;
}

.activity-image {
  width: 100%;
  height: 200px;
}

.activity-name {
  font-family: 'Amatic SC', cursive;
  font-size: 20pt;
  text-align: left;
  color: pink;
}

.activity-description {
  text-align: left;
  color: white;
}