@import "globals";

.add-to-wishlists-main-page {
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: relative;
	text-shadow: none;
}

.add-to-wishlists-main-page:after {
  background-size: 100%;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url('mtn-nologo.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;  
}

.add-to-wishlists-title {
	font-family: 'Amatic SC', cursive;
  font-size: 60pt;
  line-height: 100px;
  color: $PINK;
	border-bottom: 1px solid $PINK;
}

.add-to-wishlists-cancel-icon {
	height: 80px;
	width: 80px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.add-to-wishlists-plus-icon {
	height: 50px;
	width: 50px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.add-to-wishlists-entry {
	padding: 20px 40px 20px 40px;
	position: relative;
	border-bottom: 1px solid #FF8888;
}

.first-destination-image {
	width: 100%;
  height: 400px;
}

.add-to-wishlists-wishlist-name {
	position: absolute; 
	top: 20px; 
	text-align: left;
	left: 40px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

.no-img-background {
	/*padding: 10px 20px 10px 20px;*/
	position: relative;
	border-bottom: 2px solid #FF8888;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
  	height: 100px;
}

