@import "globals";

.wishlists-main-page {
	background-size: 100% 100%;
  height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: relative;
	text-shadow: none;
}

.wishlists-main-page:after {
  background-size: 100%;
  content: "";
  background-image: url('mtn-nologo.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;  
}

.wishlists-title {
	font-family: 'Amatic SC', cursive;
  font-size: 60pt;
  line-height: 100px;
  color: $PINK;
	border-bottom: 1px solid $PINK;
}

.destination-image {
	width: 100%;
  height: 400px;
}

.wishlists-entry {
	padding: 20px 40px 20px 40px;
	position: relative;
}

.wishlist-name {
	position: absolute; 
	top: 20px; 
	text-align: left;
	left: 40px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

.plus-icon {
	height: 50px;
	width: 50px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.menu-icon {
	height: 50px;
	width: 60px;
	float: left;
	padding-left: 10px;
}