/* Styles related to the filters pages and templates */
@import "globals";

.filter-label {
  padding-bottom: 10px;
  display: none;
}

.icon-bubble {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-icon {
  background: rgba(255, 136, 136, 0.6);
  border-radius: 20px;
  border: 1px solid $PINK;
  height: 120px;
  width: 120px;
  padding: 10px;
}

.filters-page {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
  height: 100%;
}

.filters-page:after {
  height: 100%;
  width: 100%;
  content: "";
  background-image: url('earthporn.jpg');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;  
}

#first-icon-col {
  padding: 0px;
  margin: 0px;
}