.africa-unselected {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 50%;
  right: 0px;
  padding: 5px;
}

.africa-selected {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  background: rgb(255, 255, 0); /* fallback color */
  background: rgba(255, 255, 0, 0.5);
}