/* Styles applicable to the whole app */

* {
  box-sizing: border-box;
}

html, body {
  width:100%;
  height:100%;
}

body {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  margin: 0px;
  text-align: center;
}

#main-wrapper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ui-page .ui-page-theme-a .ui-page-active {
  display: none;
}

.heart-unfilled {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.5);
}