/* Styles related to the trip details pages and templates */
@import "globals";

.trip-details-page {
  padding-top: 20px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  position: relative;
}

.trip-details-page:after {
  content: "";
  background-image: url('earthporn.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.trip-details-heart-unfilled {
  height: 50px;
  width: 50px;
  float: right;
  padding: 5px;
}

.destination-name {
  font-family: 'Amatic SC', cursive;
  font-size: 40pt;
  color: $PINK;
}

.destination-description {
  padding: 20px;
  color: white;
}

.trip-details-housing {
  padding: 0px 10px 20px 10px;
}

.housing-icon {
  float: left;
}

.cards-icon {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.housing-text {
  line-height: 50px;
  color: white;
}
