/* Styles related to the trip details pages and templates */

.trip-details-page {
  background: rgb(71, 71, 71); /* fallback color */
  background: rgba(71, 71, 71, 0.8);
  padding: 10px;
  background-clip: content-box;
  position: relative;
}

.trip-details-page:after {
  content: "";
  background-image: url('earthporn.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-clip: content-box;
  padding: 10px;
}

.trip-details-heart-unfilled {
  height: 50px;
  width: 50px;
  float: right;
  padding: 5px;
}

.destination-name {
  font-family: 'Amatic SC', cursive;
  font-size: 25pt;
  color: #EC7963;
}

.destination-description {
  padding: 20px;
  color: white;
}

.trip-details-housing {
  padding: 0px 10px 20px 10px;
}

.housing-icon {
  float: left;
}

.cards-icon {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.housing-text {
  line-height: 50px;
}
