/* Styles related to the trip details pages and templates */
@import "globals";

.trip-details-page {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  background-size: 100% 100%;
}

.trip-details-heart-unfilled {
  height: 100px;
  width: 100px;
  float: right;
  padding: 5px;
}

.destination-name {
  font-family: 'Amatic SC', cursive;
  font-size: 100pt;
  color: $PINK;
}

.destination-description {
  padding: 20px;
  color: white;
}

.trip-details-housing {
  padding: 0px 10px 20px 10px;
}

.housing-icon {
  float: left;
}

.cards-icon {
  height: 100px;
  width: 100px; 
  padding: 5px;
  background-color: $PINK;
  border-radius: 50%;
}

.housing-text {
  line-height: 100px;
  color: white;
}
